@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #21251f;
  --color2: #c8f560;
  --color3: #4e515c;
  --color4: #7862f8;
}

body {
  scroll-behavior: smooth;
}

.backGradient {
  background: rgb(33, 37, 31);
  background: linear-gradient(
    153deg,
    rgba(33, 37, 31, 1) 13%,
    rgba(78, 81, 92, 1) 83%
  );
}

.backPattern{
  background-image: url("./assets/backPattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d81e5b;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #d81e5b;
}

#cards {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 916px;
  width: calc(100% - 20px);
  align-items: center;
  justify-content: center;
}

.card {
  background-color: rgba(78, 81, 92, 0.263);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: auto;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  #cards {
    width: calc(100% - 10px); /* Reduce the left and right margin */
    flex-direction: column; /* Stack the card vertically */
  }

  .card {
    width: 90%; /* Full width on small screens */
    height: auto;
    margin-bottom: 8px; /* Add a bottom margin */
  }
}

.card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: inherit;
  z-index: 2;
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y),
    rgba(200, 245, 96, 0.338),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 500ms;
}

.card:hover::before {
  opacity: 1;
}

.code-block {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* Enable horizontal scrolling for long lines of code */
  white-space: pre-wrap; /* Preserve line breaks and wrap text */
  font-family: "Courier New", Courier, monospace; /* Use a monospace font for code */
}

.circle1{
  background-color: var(--color4);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(200px);
}
.circle2{
  background-color: var(--color2);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  filter: blur(200px);
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: var(--color4);
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: var(--color2);
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
